/* SASS Document
+----------------------------------------------------------------+
:: Blog / Portfolio - RM Renato Macedo Front-End Developer
:: Versão: 1.0
:: Front-End: Renato de Macedo
:: Data: 05/02/2015
+----------------------------------------------------------------+
*/

@import "compass/reset";

/*
+----------------------------------------------------------------+
:: SPRITES
+----------------------------------------------------------------+
*/

@import "sprite/*.png";
@include all-sprite-sprites;


/*
+----------------------------------------------------------------+
:: VARIABLES
+----------------------------------------------------------------+
*/

/* fonts */
$fontDefault: Tahoma, Arial;

/*size fonts*/
$sizeDefault: 0.875em;
$font10px: 0.625em;
$font11px: 0.688em;
$font12px: 0.750em;
$font13px: 0.813em;
$font14px: 0.875em;
$font15px: 0.938em;
$font16px: 1.000em;
$font17px: 1.063em;
$font18px: 1.125em;
$font19px: 1.188em;
$font22px: 1.375em;
$font24px: 1.500em;
$font26px: 1.625em;
$font28px: 1.750em;
$font30px: 1.875em;
$font34px: 2.125em;

/* colors */
$black: #000;
$white: #fff;
$whiteTxt: #fffffe;
$color1: #0ac3d5; /* azul */
$color2: #0b8793; /* azul 2 */
$color3: #32daeb; /* azul hover */
$color4: #06182b; /* azul 3 */ 
$color5: #303131; /* cinza texto  */     
$color6: #e9e9e4; /* cinza claro  */    
$color7: #d1d1cd; /* cinza escuro  */    
$color8: #e0e0df; /* cinza médio */
$color9: #05182a; /* azul escuro */

/*
+----------------------------------------------------------------+
:: LAYOUT
+----------------------------------------------------------------+
*/

body{
	background: url(../img/layout/background.png) center; 
	font-family: $fontDefault;
	font-size: $font14px;
}

h1{
	margin: 0 0 20px 0;
}

h1.titInt{
	font-size: $font30px;
	color: $color1;
	font-weight: bold;
	background: url(../img/layout/border-header.png) center bottom no-repeat;
	line-height: 48px;
}

p{
	color: $color5;
	margin: 10px 0;
	font-size: $font18px;
}


a{
	&:focus{
		text-decoration: none!important;
	}
}

.displayNone{
	display: none;
}


/*
+----------------------------------------------------------------+
:: MIXINS
+----------------------------------------------------------------+
*/

 @mixin border-radius ( $radius ) { 
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
 	border-radius : $radius ; 
 }

@mixin transition ($type, $time){
	-webkit-transition: $type $time ease-in-out;
	-moz-transition: $type $time ease-in-out;
	-o-transition: $type $time ease-in-out;
	transition: $type $time ease-in-out;
}

@mixin border-radius-top-right( $radius ){
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-radius-top-left( $radius ){
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}


/*
+----------------------------------------------------------------+
:: TOP
+----------------------------------------------------------------+
*/

.top{
	height: 36px;
	background: #e8e8e6;
	width: 100%;
	margin-bottom: 20px;
	.menuH{
		float: right;
		line-height: 36px;
		li{
			margin: 0 0 0 20px;
			a{
				color: #072a40;
				background: url(../img/layout/arrow-menu.png) left center no-repeat;
				padding-left: 8px;
				&:hover{
					color: $color3;
					text-decoration: none;
				}
			}
		}
		li::before{
			content: "";
			border-right: 1px solid #87969e;
			margin-right: 20px;
			padding: 4px 0;
		}
		.noBorder::before{
			border: 0;
		}
	}
}

ul.menuH{
	li{
		float: left;
		text-align: center;
	}
}


.menuMobile{
	@include border-radius ( 50px );
	background: $color1 url(../img/layout/icon-menu-mobile.png) center no-repeat;
	padding: 10px;
	width: 64px;
	height: 64px;
	position: absolute;
	margin: -35px 0 0 0;
	right: 5px;
	&:hover{
		cursor: pointer;
	}
	z-index: 20;
}


/*
+----------------------------------------------------------------+
:: HEADER
+----------------------------------------------------------------+
*/

header{
	width: 100%;
	min-height: 160px;
	background: url(../img/layout/border-header.png) center bottom no-repeat #fff;
	.logoHeader{
		text-align: center;
		margin-bottom: 20px;
		display: block;
		img{
			max-height: 117px;
		}
	}

	.headerRight{
		min-height: 80px;
	}
}

.border-default-bottom{

}

.socialHeader, .socialHeaderMobile{
	font-size: $font15px;
	color: #7f8589;
	float: right;
	line-height: 32px;
	li{
		float: left;
	}
	li.icon a{
		width: 33px;
		height: 32px;
		margin-left: 7px;
		display: block;
		padding: 10px;
		background-color: $color1;
		@include border-radius ( 50px );

		&:hover{
			background-color: $color3;
			@include transition (all, 0.3s);
		}
	}
}

 .socialHeaderMobile{
	margin-top: 7px;
 }

.main{
	min-height: 700px;
	margin-top: 30px;
}

.contMenuCateg{
	width: 100%;
	float: left;
	margin: 32px 0 0 0;
}

.searchHeader, .searchInput{
	background: #e0e0df;
	@include border-radius-top-left ( 25px );
	height: 40px;
	width: 200px;
	float: right;
	position: relative;
}

.searchHeader{
	z-index: 10;
	margin: 3px -170px 0 0;
	a.iconLupa{
		display: block;
		width: 19px;
		height: 19px;
		background: #e0e0df url(../img/layout/icon-search.png) no-repeat;
		float: left;
		margin: 10px 5px 5px 10px;
		padding: 0;
	}
}

/* BUSCA DESKTOP/MOBILE
.searchInput{
	z-index: 5;
	cursor: pointer;
	margin: 3px -200px 0 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	padding: 0 0 0 12px;
	input.fieldSearch{
		border: 0;
		background: none;
		height: 25px;
		margin: 8px 0 0 0;
		outline: none;
		color: #05182a;
		float: left;
		width: 150px;
	}
}
*/

.closeSearch{
	margin: 3px -170px 0 0;
}

.openSearch{
	margin: 3px -40px 0 0;
}

.menuCateg{
	position: relative;
	z-index: 20;
	right: 0;
	@include border-radius ( 25px );
	background: #000;
	height: 47px;
	float: right;
	width: auto;
	background: #39c7d6 url(../img/layout/back-categ.png);
	li{
		float: left;
		line-height: 47px;
		font-size: $font17px;
		position: relative;
		margin-right: -15px;
		@include border-radius ( 25px );

		a{
			display: block;
			background-repeat: no-repeat;
			background-position: 7px center;
			color: #06182b;
			padding:0 20px 0 47px;
			@include border-radius-top-left ( 25px );

			&:hover{
				text-decoration: none;
				background-color: $color3;
				@include transition (all, 0.3s);
			}
		}
	}
	.n1{
		background-color: #36c4d2;
		a{
			background-image: url(../img/blog/categories/icon-html.png);
			@include border-radius-top-left ( 25px );

		}
	}
	.n2{
		background-color: #37b6c3;
		a{
			background-image: url(../img/blog/categories/icon-css.png);
		}
	}
	.n3{
		background-color: #38adb8;
		a{
			background-image: url(../img/blog/categories/icon-jquery.png);
		}
	}
	.n4{
		background-color: #38a3ad;
		a{
			background-image: url(../img/blog/categories/icon-responsive.png);
		}
	}
	.n5{
		background-color: #339fa9;
		a{
			background-image: url(../img/blog/categories/icon-seo.png);
			margin: 0;
			@include border-radius-top-right ( 25px );
		}
	}
}


/*
+----------------------------------------------------------------+
:: BLOG
+----------------------------------------------------------------+
*/

.post{
	background: #f8f8f7;
	@include border-radius( 20px );
	padding-bottom: 50px;
	margin-bottom: 80px;
	//float: left;
	h1{
		color: $color1;
		font-size: $font26px;
		font-weight: bold;
	}

	p{
		font-size: $font19px;
	}

	.mainPost{
		width: 100%;
		padding: 2.5%;
		box-sizing: border-box;
	}

	.author{
		img, span{
			float: left;
			margin: 0 0 0 7px;
		}
		span{
			padding-top: 25px;
			color: $color4;
			font-size: $font19px;
			a{
				color:$color1;
				&:hover{
					text-decoration: none;
					color: $color2;
				}
			}
		}
	}

	a.button{
		background: url(../img/layout/back-button.png) $color1 center bottom no-repeat;
		min-width: 208px;
		height: 55px;
		//line-height: 55px;
		padding: 15px 40px;
		@include border-radius ( 15px );
		font-weight: bold;
		color: #fff;
		font-size: $font24px;
		margin: 40px 0;
		float: right;
		text-align: center;
		&:hover{
			background: $color3;
			text-decoration: none;
			//@include transition (all, 0.3s);
		}
	}

	.contSocial{
		width: 100%; 
		min-height: 60px;
	}

	.socialHeader{
		font-size: $font18px;
		margin: 40px 20px 20px 0;
		line-height: 45px;
		float: none;
		right: 0;
		position: relative;
		float: right;
		.txt{
			display:block;
		}
		li.icon a{
			width: 48px;
			height: 48px;
			margin-left: 4px;
		}
	}

}

.comentsCount{
	//width: 100%;
	text-align: right;
	min-height: 40px;
	font-size: $font24px;
	color: $color4;
	font-weight: bold;
	margin:50px 0 50px 0;
	span{
		background-color: $color4;
		padding: 5px 10px;
		color: #fff;
	}
}

.autorPost{
	margin: -30px 0 0 0;
	width: 100%;
	//min-height: 300px;
	background: url(../img/layout/border-header.png) center top no-repeat;
}

.img-top-radius{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.legend-img{
	min-height: 32px;
	width: 100%;
	background: #d1d1cd;
	margin-bottom: 16px;
	float: left;
	span{
		float: right;
		padding: 10px 0 0 0;
		margin: 0 10px 0 5px;
		a{
			color: $color1;
			&:hover{
				color:$color2;
				text-decoration: none;
			}
		}
		a::before{
			content: "";
			border-right: 1px solid $color4;
			margin-right: 10px;
			padding: 2px 0;
		}
	}
}

.page-numbers{
	width: 100%;
	min-height: 44px;
	background: url(../img/layout/back-page-number.png) center no-repeat;
	margin-bottom: 60px;
	.active{
		background-color: $color1;
		&:hover{
			background-color: $color1;
		}
	}
	ul{
		position: relative;
		margin: 0 auto;
		width: 150px; /* MANIPULAR NA PAGINAÇÃO */
		li{
			float: left;
			@include border-radius ( 50px );
			a{
				display: block;
				background-color: #d1d1cd;
				@include border-radius ( 50px );
				margin: 0 0 0 10px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: $font24px;
				color: #fff;
				&:hover{
					text-decoration: none;
					background-color: $color6;
				}
			}
		}
	}
}

.tags{
	float: right;

	li{
		float: right;
		color: #fff;
		background: $color1;

		line-height: 20px;
		margin: 1px 0 0 1px;
	}
	a{
		color:#fff;
		display: block;
		padding: 5px;
		&:hover{
			text-decoration: none;
			background-color: $color3;
		}
	}
}

.preCode{
	background-color: $color1;
	width: 100%;
	padding: 20px;
	border-sizing: border-box;
	color: $whiteTxt;
	@include border-radius (30px);
	margin: 40px 0 0 0;
	.codeLogoTop, .codeLogoBottom {
		width: 50px;
		height: 50px;
		position: absolute;
	}
	.codeLogoTop{
		margin: -80px auto 0 auto;
	}
	.codeLogoBottom{
		margin: 35px 0 0 10px;
		right: 50px;
	}
	code{
		color: $whiteTxt;
	}
}

.autorPost{
	.imgAuthor, .infosAuthor{
		//float: left;
	}

	.imgAuthor{
		//width: 194px;
		//margin: 30px 10px 0 0;
		padding:40px 0 0 0;
	}

	.infosAuthor{
		//width:130px;
		margin-top: 40px;
		span{
			color: $color5;
		}
		h2{
			font-size: 24px;
			color: $color5;
			font-weight: bold;
		}
		a.btnAuthor{
			background: $color1;
			padding: 10px;
			display: block;
			text-align: center;
			color: $whiteTxt;
			font-size: $font18px;
			margin: 10px 0 0 0;
			width: 130px;
			float: left;
			&:hover{
				background: $color3;
				text-decoration: none;
			}
		}
	}

	.socialHeader{
		margin: 10px 0;
		line-height: 45px;
		width: 100%;
		float: left;
		//float: none;
		//right: 0;
		//position: relative;
		//float: right;
		//border: 1px solid #000;
		li.icon a{
			width: 48px;
			height: 48px;
			margin-left: 4px;
		}
	}

}


/*
+----------------------------------------------------------------+
:: SIDEBAR
+----------------------------------------------------------------+
*/

.sidebar1, .sidebar2{
	@include border-radius ( 20px );
	width: 95%;
	float: right;
	padding: 10px 0;
	h2{
		text-transform: uppercase;
	}

	h2{
		font-size: $font26px;
		color: #06182b;
		font-weight: bold;
		line-height: 53px;
		background: url(../img/layout/back-page-number.png) bottom center no-repeat;
		margin-bottom: 12px;
		margin: 0 0 20px 2.5%;
		width: 95%;
	}

}

.sidebar1{
	background-color: #fff;

	.tags{
		font-size: $font18px;
		padding: 0 10px;
		margin-bottom: 20px;
		floart: left;
		li{
			float: left;
		}
	}
}

.sidebar2{
	background-color: #f6f6f5;
	margin:40px 0 40px 0;
	.page-numbers{
		background: none;
		margin: 20px 0 0 0;
		ul{
			width: 165px; /* Manipular */
		}
	}

	.link1{
		background-color: $color1;
		margin-top: -18px;
		z-index: 10;
	}

	.link2{
		background-color: #0faebd;
		z-index: 20;
	}

	.link3{
		background-color: #0b9fad;
		@include border-radius ( 20px );
		z-index: 30;
	}

	.link2, .link3{
		margin-top: -20px;
	}

	.contLink{
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		width: 100%;
		min-height: 110px;
		position: relative;
		background-image: url(../img/layout/icon-plus.png);
		background-position: 20px 30px;
		background-repeat: no-repeat;
		
		.cont{
			position: absolute;
				a{
					
					
					h3{
						margin-top: 10px;
						padding: 0 0 5px 0;
						font-size: $font18px;
						font-weight: bold;
					}
					p{
						color: #fff;
						margin-top: 0;
					}

				}
			a{	
				display: block;
				color: #fff;
				margin: 0 10px 0 75px;
				font-size: $font15px;
				line-height: 18px;
			}
		}

		
	}
	
}


/*
+----------------------------------------------------------------+
:: SOBRE
+----------------------------------------------------------------+
*/

.btnProject{
	width: 280px;
	height: 297px;
	position: relative;
	margin: 50px auto 0 auto;
	text-align: center;
	background: url(../img/sobre/projetos-background.png) center no-repeat;
	a{
		background: url(../img/layout/back-button.png) $color1 center bottom no-repeat;
		width: 208px;
		height: 55px;
		padding: 15px 40px;
		@include border-radius ( 15px );
		font-weight: bold;
		color: #fff;
		font-size: $font24px;
		text-align: center;
		float: left;
		margin: 220px 0 0 40px;
		&:hover{
			background: $color3;
			text-decoration: none;
		}
	}
}


/*
+----------------------------------------------------------------+
:: PROJETOS
+----------------------------------------------------------------+
*/

.projectRow{
	margin-top: 30px;
	margin-bottom: 40px;
}

.logoProject, .infosProject{
	float: left;
}

.logoProject{
	width: 179px;
	margin-right: 10px;
}

.infosProject{
	width:130px;
	margin-top: 30px;
	h2{
		font-size: 24px;
		color: $color5;
		font-weight: bold;
	}
	a{
		background: $color1;
		padding: 13px;
		display: block;
		text-align: center;
		color: $whiteTxt;
		font-size: $font18px;
		&:hover{
			background: $color3;
			text-decoration: none;
		}
	}
}


/*
+----------------------------------------------------------------+
:: CONTATO
+----------------------------------------------------------------+
*/


.contactForm{
	input, textarea{
		background-color: $color8;
		@include border-radius (30px);
		width: 100%;
		height: 48px;
		border: 0;
		padding-left: 10px;
		border-sizing: border-box; 
		margin-bottom: 2px;
		color: $color9;
		outline: none;

	}

	input{

	}

	textarea{
		padding-top: 20px;
		height: 182px;
	}

	button{
		background: url(../img/layout/back-button.png) $color1 center bottom no-repeat;
		width: 190px;
		height: 55px;
		padding: 15px 40px;
		@include border-radius ( 15px );
		font-weight: bold;
		color: #fff;
		font-size: $font24px;
		text-align: center;
		float: right;
		border: 0;
		margin: 10px 0 0 0;
		&:hover{
			background: $color3;
			text-decoration: none;
		}
	}

}




/*
+----------------------------------------------------------------+
:: FOOTER
+----------------------------------------------------------------+
*/

.btnTop{
	display: block;
	width: 60px;
	height: 48px;
	position: relative;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding: 30px 0 0 0;
	text-decoration: none;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
	&:focus{
		color: #fff;
	}
}

.footer{
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-radius-topleft:25px;
	-moz-border-radius-topright:25px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	background-color:#d1d1cd;
	min-height:57px;

	.copyRight{margin-top:23px;color:#9e9e9b;font-size:0.875em}

	.socialHeader{color:$color4;margin:10px 0 20px 0;float:right}

	.line{width:100%;border-bottom:1px solid #aeaea6;margin:30px 0;}
}




/*
+----------------------------------------------------------------+
:: MEDIA QUERY
+----------------------------------------------------------------+
*/


 @media (max-width: 768px) {
	
	header{
		.headerRight{
			min-height: 1px;
		}
	}

	.top{
		height: 47px;
		.menuH{
			float: left;
			//margin-left: -30px;
			line-height: 47px;
			li{
				margin: 0 10px 0 0;
				padding: 0;
			}
			li::before{
				margin-right: 10px;
			}
		}
	}

	.logoHeader{
		img{
			max-height: 153px!important;
		}
		.img-responsive{
			display: inline;
		}
	}

	.blog{
		.img-top-radius{
			@include border-radius ( 0 );
		}
	}

}

@media (min-width: 1024px) and (max-width: 1280px) {
}


@media (max-width: 991px){

	.searchHeader{
		background: #e0e0df url(../img/layout/icon-search.png) center no-repeat;
		@include border-radius ( 50px );
		height: 47px;
		width: 47px;
		position: absolute;
		right: 77px;
		margin: -25px 0 0 0;
		&:hover{
			cursor: pointer;
		}
	}

	.searchInput{
		height: 47px;
		width: 30px;
		margin: -25px 80px 0 10px;
		position: absolute;
		width: 0;
		right: 15px;
		.fieldSearch{
			display: none;
			width: 310px!important;
		}
	}

	.openSearch{
		margin: -25px 80px 0 0;
		width: 360px;
		z-index: 5;
		.fieldSearch{
			display: block;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	
	.post{
		.author{
			span{
				padding-top: 0;
				b{
					margin-top:5px;
					float: left;
				}
			}
			.legend{
				padding-top: 25px;
			}
		}
	}
	
	.menuCateg{
		li{
			font-size: $font13px;
		}
	}


	/*
	+----------------------------------------------------------------+
	:: PROJETOS
	+----------------------------------------------------------------+
	*/


	.infosProject{
		margin-top: 10px;
		margin-left: 20px;
	}

}

@media (min-width: 768px) and (max-width: 1023px) {
	
	.sidebar2{
		.contLink{
			.cont{	
				a{	
					p{display: none;}
				}
			}
		}
	}
}

@media (max-width: 765px) {

	header{
		min-height: 200px;
		margin-bottom: 50px;
	}	

	.sidebar2{

		.contLink{
						
			.cont{

				h3{
					margin: 27px 0 0 0;
				}
				
				a{	
					display: block;
				}

			}

		}

	}
}

@media (min-width: 641px) and (max-width: 991px){
	.contMenuCateg{
		margin-top: 100px;
	}
}


@media (max-width: 640px) {
	
	/*
	+----------------------------------------------------------------+
	:: PROJETOS
	+----------------------------------------------------------------+
	*/

	.infosProject{
		width: 250px;
	}

	.projectRow{
		margin-top: 0;
		margin-bottom: 0;
	}

	.logoProject{
		margin-top: 20px;
		margin-bottom: 30px;
	}

}

@media (max-width: 480px) {
	.legend-img{
		.tags{
			margin: 10px;
			a{
				display: block;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	.line{width:100%;border-bottom:1px solid #aeaea6;margin:15px 0;}


	.sidebar1, .sidebar2{
		width: 100%;
	}


	/*
	+----------------------------------------------------------------+
	:: PROJETOS
	+----------------------------------------------------------------+
	*/

	.infosProject{
		width: 180px;
	}

}

@media (max-width: 479px) {
	.top{
		.col-xs-7, .col-xs-5{
			width: 100%!important;
		}
		.menuH{
			float: right;
			margin: 0 0 0 10px;
			li{
				margin: 0 0 0 10px;
			}
		}
	}

	.socialHeaderMobile {
		margin: 10px 0 20px 0!important;
		float: right!important;
	}

	.legend-img{
		span{
			a::before{
				content: "";
				border-right: 0;
			}
		}
	}

	a.logoHeader{
		margin-top: 40px!important;
		float: left;
	}
}

@media(max-width: 360px){
	.openSearch{
		width: 231px;
	}

	.logoProject{
		margin: 30px auto 0 auto;
		position: relative;
		width: 179px;
		float: none;
	}



	.infosProject{
		text-align: center;
		width:100%;
		margin-top: 30px;
		h2{
			margin-top: -20px;
		}
		a{
			margin-bottom: 20px;
		}
	}


	.codeLogoBottom{
		margin: 65px 0 0 10px!important;
	}

	.post{
		.socialHeader{
			.txt{
				display: block;
				width: 100%;
				line-height: 25px;
			}
		}
	
	.contSocial{
		min-height: 100px;
	}

	}


}

@media(max-width: 320px){
	.openSearch{
		width: 191px;
	}
}

