/* SASS Document
+----------------------------------------------------------------+
:: Blog / Portfolio - RM Renato Macedo Front-End Developer
:: Versão: 1.0
:: Front-End: Renato de Macedo
:: Data: 05/02/2015
+----------------------------------------------------------------+
*/

@import "compass/reset";

/*
+----------------------------------------------------------------+
:: SPRITES
+----------------------------------------------------------------+
*/

@import "sprite/*.png";
@include all-sprite-sprites;


/*
+----------------------------------------------------------------+
:: VARIABLES
+----------------------------------------------------------------+
*/

/* fonts */
$fontDefault: Tahoma, Arial;

/*size fonts*/
$sizeDefault: 0.875em;
$font10px: 0.625em;
$font11px: 0.688em;
$font12px: 0.750em;
$font13px: 0.813em;
$font14px: 0.875em;
$font15px: 0.938em;
$font16px: 1.000em;
$font17px: 1.063em;
$font18px: 1.125em;
$font19px: 1.188em;
$font22px: 1.375em;
$font24px: 1.500em;
$font26px: 1.625em;
$font28px: 1.750em;
$font34px: 2.125em;

/* colors */
$black: #000;
$white: #fff;
$whiteTxt: #fffffe;
$color1: #0ac3d5; /* azul */
$color2: #0b8793; /* azul 2 */
$color3: #32daeb; /* azul hover */
$color4: #06182b; /* azul 3 */ 
$color5: #303131; /* cinza texto  */     
$color6: #e9e9e4; /* cinza claro  */    
$color7: #d1d1cd; /* cinza escuro  */    

/*
+----------------------------------------------------------------+
:: LAYOUT
+----------------------------------------------------------------+
*/

body{
	background: url(../img/layout/background.png) center; 
	font-family: $fontDefault;
	font-size: $font14px;
}

h1{
	margin: 0 0 20px 0;
}

p{
	color: $color4;
	margin: 10px 0;
}


a{
	&:focus{
		text-decoration: none!important;
	}
}

.displayNone{
	display: none;
}


/*
+----------------------------------------------------------------+
:: MIXINS
+----------------------------------------------------------------+
*/

 @mixin border-radius ( $radius ) { 
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
 	border-radius : $radius ; 
 }

@mixin transition ($type, $time){
	-webkit-transition: $type $time ease-in-out;
	-moz-transition: $type $time ease-in-out;
	-o-transition: $type $time ease-in-out;
	transition: $type $time ease-in-out;
}


/*
+----------------------------------------------------------------+
:: TOP
+----------------------------------------------------------------+
*/

.top{
	height: 36px;
	background: #e8e8e6;
	width: 100%;
	margin-bottom: 20px;
	.menuH{
		float: right;
		line-height: 36px;
		li{
			margin: 0 0 0 20px;
			a{
				color: #072a40;
				background: url(../img/layout/arrow-menu.png) left center no-repeat;
				padding-left: 8px;
				&:hover{
					color: $color3;
					text-decoration: none;
				}
			}
		}
		li::before{
			content: "";
			border-right: 1px solid #87969e;
			margin-right: 20px;
			padding: 4px 0;
		}
		.noBorder::before{
			border: 0;
		}
	}
}

ul.menuH{
	li{
		float: left;
		text-align: center;
	}
}


.menuMobile{
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	background: $color1 url(../img/layout/icon-menu-mobile.png) center no-repeat;
	padding: 10px;
	width: 64px;
	height: 64px;
	position: absolute;
	//margin: -30px 0 0 0;
	margin: -35px 0 0 0;
	right: 5px;
	&:hover{
		cursor: pointer;
	}
	z-index: 20;
}


/*
+----------------------------------------------------------------+
:: HEADER
+----------------------------------------------------------------+
*/

header{
	width: 100%;
	min-height: 160px;
	//padding: 20px 0 0 0;
	background: url(../img/layout/border-header.png) center bottom no-repeat #fff;
	.logoHeader{
		text-align: center;
		margin-bottom: 20px;
		display: block;
		img{
			max-height: 117px;
		}
	}

	.headerRight{
		min-height: 80px;
	}
}

.border-default-bottom{

}

.socialHeader, .socialHeaderMobile{
	font-size: $font15px;
	color: #7f8589;
	float: right;
	line-height: 32px;
	li{
		float: left;
	}
	li.icon a{
		width: 33px;
		height: 32px;
		margin-left: 7px;
		display: block;
		padding: 10px;
		background-color: $color1;
		@include border-radius ( 50px );
		//background-position: center;
		//background-repeat: no-repeat;
		&:hover{
			background-color: $color3;
			@include transition (all, 0.3s);
		}
	}
	/*a.facebook{
		background: url(../img/layout/sprite/icon-facebook.png);
		display: block;
	}*/
	/*a.twitter{
		background: url(../img/layout/sprite/icon-twitter.png);
		display: block;
	}
	a.linkedin{
		background: url(../img/layout/sprite/icon-linkedin.png);
		display: block;
	}*/
}

 .socialHeaderMobile{
	margin-top: 7px;
 }

.main{
	//background: url(../img/layout/background.png);
	min-height: 700px;
	margin-top: 30px;
}

.contMenuCateg{
	width: 100%;
	float: left;
	margin: 32px 0 0 0;
}

.searchHeader, .searchInput{
	background: #e0e0df;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 40px;
	width: 200px;
	float: right;
	position: relative;
}

.searchHeader{
	//margin: 3px -20px 0 0;
	z-index: 10;
	//cursor: pointer;
	margin: 3px -170px 0 0;
	//-webkit-transition: all 1s ease-in-out;
	//-moz-transition: all 1s ease-in-out;
	//-o-transition: all 1s ease-in-out;
	//transition: all 1s ease-in-out;
	a.iconLupa{
		display: block;
		width: 19px;
		height: 19px;
		background: #e0e0df url(../img/layout/icon-search.png) no-repeat;
		float: left;
		margin: 10px 5px 5px 10px;
		//border: 1px solid #000;
		padding: 0;
	}
}

.searchInput{
	//background: #e0e0df;
	//-webkit-border-top-left-radius: 25px;
	//-webkit-border-bottom-left-radius: 25px;
	//-moz-border-radius-topleft: 25px;
	//-moz-border-radius-bottomleft: 25px;
	//border-top-left-radius: 25px;
	//border-bottom-left-radius: 25px;
	//height: 40px;
	//width: 200px;
	//float: right;
	//margin: 3px -20px 0 0;
	//position: relative;
	z-index: 5;
	cursor: pointer;
	margin: 3px -200px 0 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	padding: 0 0 0 12px;
	input.fieldSearch{
		border: 0;
		background: none;
		height: 25px;
		margin: 8px 0 0 0;
		outline: none;
		color: #05182a;
		//display: none;
		float: left;
		width: 150px;
	}
}

.closeSearch{
	margin: 3px -170px 0 0;
}

.openSearch{
	margin: 3px -40px 0 0;
}

.menuCateg{
	position: relative;
	z-index: 20;
	right: 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #000;
	height: 47px;
	//min-width: 500px;
	//padding:0 10px;
	float: right;
	width: auto;
	background: #39c7d6 url(../img/layout/back-categ.png);
	li{
		float: left;
		line-height: 47px;
		//min-width: 53px;
		font-size: $font17px;
		//margin-right: 5px;
		position: relative;
		margin-right: -15px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		a{
			display: block;
			background-repeat: no-repeat;
			background-position: 7px center;
			color: #06182b;
			//min-width: 53px;
			padding:0 20px 0 47px;
			-webkit-border-top-left-radius: 25px;
			-webkit-border-bottom-left-radius: 25px;
			-moz-border-radius-topleft: 25px;
			-moz-border-radius-bottomleft: 25px;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			&:hover{
				text-decoration: none;
				background-color: $color3;
				@include transition (all, 0.3s);
			}
		}
	}
	.n1{
		background-color: #36c4d2;
		a{
			background-image: url(../img/blog/categories/icon-html.png);
			-webkit-border-top-left-radius: 25px;
			-webkit-border-bottom-left-radius: 25px;
			-moz-border-radius-topleft: 25px;
			-moz-border-radius-bottomleft: 25px;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;

		}
	}
	.n2{
		background-color: #37b6c3;
		//background-image: url(../img/layout/back-categ1.png);
		a{
			background-image: url(../img/blog/categories/icon-css.png);
		}
	}
	.n3{
		background-color: #38adb8;
		a{
			background-image: url(../img/blog/categories/icon-jquery.png);
		}
	}
	.n4{
		background-color: #38a3ad;
		a{
			background-image: url(../img/blog/categories/icon-responsive.png);
		}
	}
	.n5{
		background-color: #339fa9;
		a{
			background-image: url(../img/blog/categories/icon-seo.png);
			margin: 0;
			-webkit-border-top-right-radius: 25px;
			-webkit-border-bottom-right-radius: 25px;
			-moz-border-radius-topright: 25px;
			-moz-border-radius-bottomright: 25px;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
		}
	}
}



/*
+----------------------------------------------------------------+
:: BLOG
+----------------------------------------------------------------+
*/


.post{
	background: #f8f8f7;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 50px;
	margin-bottom: 80px;

	h1{
		color: $color1;
		font-size: $font26px;
		font-weight: bold;
	}

	p{
		font-size: $font18px;
	}

	.mainPost{
		width: 95%;
		padding: 2.5%;
		//float: left;
	}

	.author{
		img, span{
			float: left;
			margin: 0 0 0 7px;
		}
		span{
			padding-top: 25px;
			color: $color4;
			b{
				color:$color1;
			}
		}
	}

	a.button{
		background: url(../img/layout/back-button.png) $color1 center bottom no-repeat;
		min-width: 208px;
		height: 55px;
		//line-height: 55px;
		padding: 15px 40px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		font-weight: bold;
		color: #fff;
		font-size: $font24px;
		margin: 40px 0;
		float: right;
		text-align: center;
		&:hover{
			background: $color3;
			text-decoration: none;
			//@include transition (all, 0.3s);
		}
	}

}

.img-top-radius{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.legend-img{
	min-height: 32px;
	width: 100%;
	background: #d1d1cd;
	margin-bottom: 16px;
	float: left;
	span{
		float: right;
		padding: 10px 0 0 0;
		margin: 0 10px 0 5px;
		a{
			color: $color1;
			&:hover{
				color:$color2;
				text-decoration: none;
			}
		}
		a::before{
			content: "";
			border-right: 1px solid $color4;
			margin-right: 10px;
			padding: 2px 0;
		}
	}
}

.page-numbers{
	width: 100%;
	min-height: 44px;
	background: url(../img/layout/back-page-number.png) center no-repeat;
	margin-bottom: 60px;
	.active{
		background-color: $color1;
		&:hover{
			background-color: $color1;
		}
	}
	ul{
		position: relative;
		margin: 0 auto;
		width: 150px; /* MANIPULAR NA PAGINAÇÃO */
		li{
			float: left;
			-webkit-border-radius: 200px;
			-moz-border-radius: 200px;
			border-radius: 20px;
			a{
				display: block;
				background-color: #d1d1cd;
				-webkit-border-radius: 300px;
				-moz-border-radius: 300px;
				border-radius: 300px;
				//padding: 10px;
				margin: 0 0 0 10px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: $font24px;
				color: #fff;
				&:hover{
					text-decoration: none;
					background-color: $color6;
				}
			}
		}
	}
}

.tags{
	float: right;

	li{
		float: right;
		color: #fff;
		background: $color1;

		line-height: 20px;
		margin: 1px 0 0 1px;
	}
	a{
		color:#fff;
		display: block;
		padding: 5px;
		&:hover{
			text-decoration: none;
			background-color: $color3;
			//@include transition (all, 0.5s);
		}
	}
}

/*
+----------------------------------------------------------------+
:: SIDEBAR
+----------------------------------------------------------------+
*/

.sidebar1, .sidebar2{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 95%;
	//margin: 0 0 20px 0;
	//min-height: 300px;
	float: right;
	padding: 10px 0;
	h2{
		text-transform: uppercase;
	}

	h2{
		font-size: $font26px;
		color: #06182b;
		font-weight: bold;
		line-height: 53px;
		background: url(../img/layout/back-page-number.png) bottom center no-repeat;
		margin-bottom: 12px;
		margin: 0 0 20px 2.5%;
		width: 95%;
	}

}

.sidebar1{
	background-color: #fff;

	.tags{
		font-size: $font18px;
		padding: 0 10px;
		margin-bottom: 20px;
		floart: left;
		li{
			float: left;
		}
	}
}

.sidebar2{
	background-color: #f6f6f5;
	margin:40px 0 40px 0;
	.page-numbers{
		background: none;
		margin: 20px 0 0 0;
		ul{
			width: 165px; /* Manipular */
		}
	}

	.link1{
		background-color: $color1;
		margin-top: -18px;
		z-index: 10;
	}

	.link2{
		background-color: #0faebd;
		z-index: 20;
	}

	.link3{
		background-color: #0b9fad;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		z-index: 30;
	}

	.link2, .link3{
		margin-top: -20px;
	}

	.contLink{
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		width: 100%;
		min-height: 110px;
		position: relative;
		background-image: url(../img/layout/icon-plus.png);
		background-position: 20px 30px;
		background-repeat: no-repeat;
		
		.cont{
			position: absolute;
			//border: 1px solid #000;
				a{
					
					
					h3{
						margin-top: 10px;
						padding: 0 0 5px 0;
						//float: left;
						font-size: $font18px;
						font-weight: bold;
					}
					p{
						color: #fff;
						margin-top: 0;
					}

				}
			a{	
				display: block;
				color: #fff;
				//box-sizing: border-box;
				margin: 0 10px 0 75px;
				font-size: $font15px;
				line-height: 18px;
			}
		}

		
	}
	
}


/*
+----------------------------------------------------------------+
:: FOOTER
+----------------------------------------------------------------+
*/

.btnTop{
	//float: left;
	display: block;
	width: 60px;
	height: 48px;
	//background: url(../img/layout/sprite/btn-top.png);
	position: relative;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding: 30px 0 0 0;
	text-decoration: none;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
	&:focus{
		color: #fff;
	}
}

.footer{
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-radius-topleft:25px;
	-moz-border-radius-topright:25px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	background-color:#d1d1cd;
	min-height:57px;

	.copyRight{margin-top:23px;color:#9e9e9b;font-size:0.875em}

	.socialHeader{color:$color4;margin:10px 0 20px 0;float:right}

	.line{width:100%;border-bottom:1px solid #aeaea6;margin:30px 0;}
}




/*
+----------------------------------------------------------------+
:: MEDIA QUERY
+----------------------------------------------------------------+
*/

 @media (max-width: 768px) {
	
	header{
		.headerRight{
			min-height: 1px;
		}
	}

	.top{
		height: 47px;
		.menuH{
			float: left;
			//margin-left: -30px;
			line-height: 47px;
			li{
				margin: 0 10px 0 0;
				padding: 0;
			}
			li::before{
				margin-right: 10px;
			}
		}
	}

	.logoHeader{
		img{
			max-height: 153px!important;
		}
		.img-responsive{
			display: inline;
		}
	}

	.blog{
		.img-top-radius{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	
	.sidebar2{

		/*.contLink{
			
			.cont{
				
				//border: 1px solid #000;
					h3{
					margin-top: 15px;
					padding: 0;
					//float: left;
						a{
							font-size: $font16px;
							font-weight: bold;
						}

					}
				
				a{	
					display: block;
					color: #fff;
					//box-sizing: border-box;
					margin: 0 10px 0 75px;
					font-size: $font14px;
					line-height: 18px;
				}

			}

		}*/

	}

}


@media (max-width: 991px){

	.searchHeader{
		background: #e0e0df url(../img/layout/icon-search.png) center no-repeat;
		-webkit-border-radius: 300px;
		-moz-border-radius: 300px;
		border-radius: 300px;
		height: 47px;
		width: 47px;
		//float: right;
		//margin: 3px -170px 0 0;
		position: absolute;
		//margin: 3px -20px 0 0;
		//position: relative;
		//z-index: 10;
		right: 77px;
		margin: -25px 0 0 0;
		&:hover{
			cursor: pointer;
		}
	}

	.searchInput{
		height: 47px;
		width: 30px;
		margin: -25px 80px 0 10px;
		//border: 1px solid #000;
		//display: none;
		position: absolute;
		width: 0;
		right: 15px;
		//z-index: 0;
		.fieldSearch{
			display: none;
			width: 310px!important;
		}
	}

	.openSearch{
		margin: -25px 80px 0 0;
		width: 360px;
		z-index: 5;
		.fieldSearch{
			display: block;
		}
	}


}

@media (min-width: 768px) and (max-width: 1024px) {
	
	.post{
		.author{
			span{
				padding-top: 0;
				//margin-top:25px;
				//float: left;
				b{
					margin-top:5px;
					float: left;
				}
			}
			.legend{
				padding-top: 25px;
			}
		}
	}
	
	.menuCateg{
		li{
			font-size: $font13px;
		}
	}


	.sidebar2{

		.contLink{
			
			.cont{
					h3{
					margin-top: 25px;
						a{
							font-size: $font15px;
							display: block;
						}

					}
				
				a{	
					//display: none;
				}

			}

		}

	}


}

@media (min-width: 768px) and (max-width: 1023px) {
	
	.sidebar2{

		.contLink{
			
			.cont{
				
				a{	
					p{display: none;}
				}

			}

		}

	}

}


@media (max-width: 765px) {

	header{
		min-height: 200px;
		margin-bottom: 50px;
	}

	

	.sidebar2{

		.contLink{
						
			.cont{

				h3{
					margin: 27px 0 0 0;
				}
				
				a{	
					display: block;
				}

			}

		}

	}
}


@media (min-width: 641px) and (max-width: 991px){
	.contMenuCateg{
		margin-top: 100px;
	}
}

@media (max-width: 480px) {
	.legend-img{
		.tags{
			margin: 10px;
			a{
				display: block;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	.line{width:100%;border-bottom:1px solid #aeaea6;margin:15px 0;}


	.sidebar1, .sidebar2{
		width: 100%;
	}

}

@media (max-width: 479px) {
	.top{
		.col-xs-7, .col-xs-5{
			width: 100%!important;
			//border: 10px solid #000;
		}
		.menuH{
			float: right;
			margin: 0 0 0 10px;
			li{
				margin: 0 0 0 10px;
			}
		}
	}

	.socialHeaderMobile {
		margin: 10px 0 20px 0!important;
		float: right!important;
	}

	.legend-img{
		span{
			a::before{
				content: "";
				border-right: 0;
			}
		}
	}

	a.logoHeader{
		margin-top: 40px!important;
		float: left;
		//border: 1px solid #000;
	}

	.sidebar2{

		.contLink{
						
			.cont{

				a{
					display: block;
					h3{
						margin: 27px 0 0 0;		
					}

					p{
						display: none;	
					}
				}

				
				/*a{	
					display: none;
				}*/

			}

		}

	}

}


@media(max-width: 360px){
	.openSearch{
		width: 231px;
	}
}

@media(max-width: 320px){
	.openSearch{
		width: 191px;
	}
}

