@charset "UTF-8";
/* SASS Document
+----------------------------------------------------------------+
:: Blog / Portfolio - RM Renato Macedo Front-End Developer
:: Vers├úo: 1.0
:: Front-End: Renato de Macedo
:: Data: 05/02/2015
+----------------------------------------------------------------+
*/
/* line 5, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
+----------------------------------------------------------------+
:: SPRITES
+----------------------------------------------------------------+
*/
/* line 72, sprite/*.png */
.sprite-sprite, .sprite-btn-top, .sprite-icon-facebook, .sprite-icon-linkedin, .sprite-icon-twitter {
  background-image: url('../img/sprite-se70a479e9a.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-btn-top {
  background-position: 0 0; }

/* line 84, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-facebook {
  background-position: 0 -48px; }

/* line 84, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-linkedin {
  background-position: 0 -80px; }

/* line 84, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-icon-twitter {
  background-position: 0 -112px; }

/*
+----------------------------------------------------------------+
:: VARIABLES
+----------------------------------------------------------------+
*/
/* fonts */
/*size fonts*/
/* colors */
/* azul */
/* azul 2 */
/* azul hover */
/* azul 3 */
/* cinza texto  */
/* cinza claro  */
/* cinza escuro  */
/*
+----------------------------------------------------------------+
:: LAYOUT
+----------------------------------------------------------------+
*/
/* line 67, ../../sass/screen.scss */
body {
  background: url(../img/layout/background.png) center;
  font-family: Tahoma, Arial;
  font-size: 0.875em; }

/* line 73, ../../sass/screen.scss */
h1 {
  margin: 0 0 20px 0; }

/* line 77, ../../sass/screen.scss */
p {
  color: #06182b;
  margin: 10px 0; }

/* line 84, ../../sass/screen.scss */
a:focus {
  text-decoration: none !important; }

/* line 89, ../../sass/screen.scss */
.displayNone {
  display: none; }

/*
+----------------------------------------------------------------+
:: MIXINS
+----------------------------------------------------------------+
*/
/*
+----------------------------------------------------------------+
:: TOP
+----------------------------------------------------------------+
*/
/* line 121, ../../sass/screen.scss */
.top {
  height: 36px;
  background: #e8e8e6;
  width: 100%;
  margin-bottom: 20px; }
  /* line 126, ../../sass/screen.scss */
  .top .menuH {
    float: right;
    line-height: 36px; }
    /* line 129, ../../sass/screen.scss */
    .top .menuH li {
      margin: 0 0 0 20px; }
      /* line 131, ../../sass/screen.scss */
      .top .menuH li a {
        color: #072a40;
        background: url(../img/layout/arrow-menu.png) left center no-repeat;
        padding-left: 8px; }
        /* line 135, ../../sass/screen.scss */
        .top .menuH li a:hover {
          color: #32daeb;
          text-decoration: none; }
    /* line 141, ../../sass/screen.scss */
    .top .menuH li::before {
      content: "";
      border-right: 1px solid #87969e;
      margin-right: 20px;
      padding: 4px 0; }
    /* line 147, ../../sass/screen.scss */
    .top .menuH .noBorder::before {
      border: 0; }

/* line 154, ../../sass/screen.scss */
ul.menuH li {
  float: left;
  text-align: center; }

/* line 161, ../../sass/screen.scss */
.menuMobile {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  background: #0ac3d5 url(../img/layout/icon-menu-mobile.png) center no-repeat;
  padding: 10px;
  width: 64px;
  height: 64px;
  position: absolute;
  margin: -35px 0 0 0;
  right: 5px;
  z-index: 20; }
  /* line 173, ../../sass/screen.scss */
  .menuMobile:hover {
    cursor: pointer; }

/*
+----------------------------------------------------------------+
:: HEADER
+----------------------------------------------------------------+
*/
/* line 186, ../../sass/screen.scss */
header {
  width: 100%;
  min-height: 160px;
  background: url(../img/layout/border-header.png) center bottom no-repeat #fff; }
  /* line 191, ../../sass/screen.scss */
  header .logoHeader {
    text-align: center;
    margin-bottom: 20px;
    display: block; }
    /* line 195, ../../sass/screen.scss */
    header .logoHeader img {
      max-height: 117px; }
  /* line 200, ../../sass/screen.scss */
  header .headerRight {
    min-height: 80px; }

/* line 209, ../../sass/screen.scss */
.socialHeader, .socialHeaderMobile {
  font-size: 0.938em;
  color: #7f8589;
  float: right;
  line-height: 32px;
  /*a.facebook{
  	background: url(../img/layout/sprite/icon-facebook.png);
  	display: block;
  }*/
  /*a.twitter{
  	background: url(../img/layout/sprite/icon-twitter.png);
  	display: block;
  }
  a.linkedin{
  	background: url(../img/layout/sprite/icon-linkedin.png);
  	display: block;
  }*/ }
  /* line 214, ../../sass/screen.scss */
  .socialHeader li, .socialHeaderMobile li {
    float: left; }
  /* line 217, ../../sass/screen.scss */
  .socialHeader li.icon a, .socialHeaderMobile li.icon a {
    width: 33px;
    height: 32px;
    margin-left: 7px;
    display: block;
    padding: 10px;
    background-color: #0ac3d5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; }
    /* line 227, ../../sass/screen.scss */
    .socialHeader li.icon a:hover, .socialHeaderMobile li.icon a:hover {
      background-color: #32daeb;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

/* line 246, ../../sass/screen.scss */
.socialHeaderMobile {
  margin-top: 7px; }

/* line 250, ../../sass/screen.scss */
.main {
  min-height: 700px;
  margin-top: 30px; }

/* line 256, ../../sass/screen.scss */
.contMenuCateg {
  width: 100%;
  float: left;
  margin: 32px 0 0 0; }

/* line 262, ../../sass/screen.scss */
.searchHeader, .searchInput {
  background: #e0e0df;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 40px;
  width: 200px;
  float: right;
  position: relative; }

/* line 276, ../../sass/screen.scss */
.searchHeader {
  z-index: 10;
  margin: 3px -170px 0 0; }
  /* line 285, ../../sass/screen.scss */
  .searchHeader a.iconLupa {
    display: block;
    width: 19px;
    height: 19px;
    background: #e0e0df url(../img/layout/icon-search.png) no-repeat;
    float: left;
    margin: 10px 5px 5px 10px;
    padding: 0; }

/* line 297, ../../sass/screen.scss */
.searchInput {
  z-index: 5;
  cursor: pointer;
  margin: 3px -200px 0 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 0 0 0 12px; }
  /* line 318, ../../sass/screen.scss */
  .searchInput input.fieldSearch {
    border: 0;
    background: none;
    height: 25px;
    margin: 8px 0 0 0;
    outline: none;
    color: #05182a;
    float: left;
    width: 150px; }

/* line 331, ../../sass/screen.scss */
.closeSearch {
  margin: 3px -170px 0 0; }

/* line 335, ../../sass/screen.scss */
.openSearch {
  margin: 3px -40px 0 0; }

/* line 339, ../../sass/screen.scss */
.menuCateg {
  position: relative;
  z-index: 20;
  right: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #000;
  height: 47px;
  float: right;
  width: auto;
  background: #39c7d6 url(../img/layout/back-categ.png); }
  /* line 353, ../../sass/screen.scss */
  .menuCateg li {
    float: left;
    line-height: 47px;
    font-size: 1.063em;
    position: relative;
    margin-right: -15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; }
    /* line 364, ../../sass/screen.scss */
    .menuCateg li a {
      display: block;
      background-repeat: no-repeat;
      background-position: 7px center;
      color: #06182b;
      padding: 0 20px 0 47px;
      -webkit-border-top-left-radius: 25px;
      -webkit-border-bottom-left-radius: 25px;
      -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomleft: 25px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px; }
      /* line 377, ../../sass/screen.scss */
      .menuCateg li a:hover {
        text-decoration: none;
        background-color: #32daeb;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  /* line 384, ../../sass/screen.scss */
  .menuCateg .n1 {
    background-color: #36c4d2; }
    /* line 386, ../../sass/screen.scss */
    .menuCateg .n1 a {
      background-image: url(../img/blog/categories/icon-html.png);
      -webkit-border-top-left-radius: 25px;
      -webkit-border-bottom-left-radius: 25px;
      -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomleft: 25px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px; }
  /* line 397, ../../sass/screen.scss */
  .menuCateg .n2 {
    background-color: #37b6c3; }
    /* line 400, ../../sass/screen.scss */
    .menuCateg .n2 a {
      background-image: url(../img/blog/categories/icon-css.png); }
  /* line 404, ../../sass/screen.scss */
  .menuCateg .n3 {
    background-color: #38adb8; }
    /* line 406, ../../sass/screen.scss */
    .menuCateg .n3 a {
      background-image: url(../img/blog/categories/icon-jquery.png); }
  /* line 410, ../../sass/screen.scss */
  .menuCateg .n4 {
    background-color: #38a3ad; }
    /* line 412, ../../sass/screen.scss */
    .menuCateg .n4 a {
      background-image: url(../img/blog/categories/icon-responsive.png); }
  /* line 416, ../../sass/screen.scss */
  .menuCateg .n5 {
    background-color: #339fa9; }
    /* line 418, ../../sass/screen.scss */
    .menuCateg .n5 a {
      background-image: url(../img/blog/categories/icon-seo.png);
      margin: 0;
      -webkit-border-top-right-radius: 25px;
      -webkit-border-bottom-right-radius: 25px;
      -moz-border-radius-topright: 25px;
      -moz-border-radius-bottomright: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px; }

/*
+----------------------------------------------------------------+
:: BLOG
+----------------------------------------------------------------+
*/
/* line 440, ../../sass/screen.scss */
.post {
  background: #f8f8f7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-bottom: 50px;
  margin-bottom: 80px; }
  /* line 448, ../../sass/screen.scss */
  .post h1 {
    color: #0ac3d5;
    font-size: 1.625em;
    font-weight: bold; }
  /* line 454, ../../sass/screen.scss */
  .post p {
    font-size: 1.125em; }
  /* line 458, ../../sass/screen.scss */
  .post .mainPost {
    width: 95%;
    padding: 2.5%; }
  /* line 465, ../../sass/screen.scss */
  .post .author img, .post .author span {
    float: left;
    margin: 0 0 0 7px; }
  /* line 469, ../../sass/screen.scss */
  .post .author span {
    padding-top: 25px;
    color: #06182b; }
    /* line 472, ../../sass/screen.scss */
    .post .author span b {
      color: #0ac3d5; }
  /* line 478, ../../sass/screen.scss */
  .post a.button {
    background: url(../img/layout/back-button.png) #0ac3d5 center bottom no-repeat;
    min-width: 208px;
    height: 55px;
    padding: 15px 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
    margin: 40px 0;
    float: right;
    text-align: center; }
    /* line 493, ../../sass/screen.scss */
    .post a.button:hover {
      background: #32daeb;
      text-decoration: none; }

/* line 502, ../../sass/screen.scss */
.img-top-radius {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

/* line 511, ../../sass/screen.scss */
.legend-img {
  min-height: 32px;
  width: 100%;
  background: #d1d1cd;
  margin-bottom: 16px;
  float: left; }
  /* line 517, ../../sass/screen.scss */
  .legend-img span {
    float: right;
    padding: 10px 0 0 0;
    margin: 0 10px 0 5px; }
    /* line 521, ../../sass/screen.scss */
    .legend-img span a {
      color: #0ac3d5; }
      /* line 523, ../../sass/screen.scss */
      .legend-img span a:hover {
        color: #0b8793;
        text-decoration: none; }
    /* line 528, ../../sass/screen.scss */
    .legend-img span a::before {
      content: "";
      border-right: 1px solid #06182b;
      margin-right: 10px;
      padding: 2px 0; }

/* line 537, ../../sass/screen.scss */
.page-numbers {
  width: 100%;
  min-height: 44px;
  background: url(../img/layout/back-page-number.png) center no-repeat;
  margin-bottom: 60px; }
  /* line 542, ../../sass/screen.scss */
  .page-numbers .active {
    background-color: #0ac3d5; }
    /* line 544, ../../sass/screen.scss */
    .page-numbers .active:hover {
      background-color: #0ac3d5; }
  /* line 548, ../../sass/screen.scss */
  .page-numbers ul {
    position: relative;
    margin: 0 auto;
    width: 150px;
    /* MANIPULAR NA PAGINA├ç├âO */ }
    /* line 552, ../../sass/screen.scss */
    .page-numbers ul li {
      float: left;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      border-radius: 20px; }
      /* line 557, ../../sass/screen.scss */
      .page-numbers ul li a {
        display: block;
        background-color: #d1d1cd;
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        border-radius: 300px;
        margin: 0 0 0 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.5em;
        color: #fff; }
        /* line 571, ../../sass/screen.scss */
        .page-numbers ul li a:hover {
          text-decoration: none;
          background-color: #e9e9e4; }

/* line 580, ../../sass/screen.scss */
.tags {
  float: right; }
  /* line 583, ../../sass/screen.scss */
  .tags li {
    float: right;
    color: #fff;
    background: #0ac3d5;
    line-height: 20px;
    margin: 1px 0 0 1px; }
  /* line 591, ../../sass/screen.scss */
  .tags a {
    color: #fff;
    display: block;
    padding: 5px; }
    /* line 595, ../../sass/screen.scss */
    .tags a:hover {
      text-decoration: none;
      background-color: #32daeb; }

/*
+----------------------------------------------------------------+
:: SIDEBAR
+----------------------------------------------------------------+
*/
/* line 609, ../../sass/screen.scss */
.sidebar1, .sidebar2 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 95%;
  float: right;
  padding: 10px 0; }
  /* line 618, ../../sass/screen.scss */
  .sidebar1 h2, .sidebar2 h2 {
    text-transform: uppercase; }
  /* line 622, ../../sass/screen.scss */
  .sidebar1 h2, .sidebar2 h2 {
    font-size: 1.625em;
    color: #06182b;
    font-weight: bold;
    line-height: 53px;
    background: url(../img/layout/back-page-number.png) bottom center no-repeat;
    margin-bottom: 12px;
    margin: 0 0 20px 2.5%;
    width: 95%; }

/* line 635, ../../sass/screen.scss */
.sidebar1 {
  background-color: #fff; }
  /* line 638, ../../sass/screen.scss */
  .sidebar1 .tags {
    font-size: 1.125em;
    padding: 0 10px;
    margin-bottom: 20px;
    floart: left; }
    /* line 643, ../../sass/screen.scss */
    .sidebar1 .tags li {
      float: left; }

/* line 649, ../../sass/screen.scss */
.sidebar2 {
  background-color: #f6f6f5;
  margin: 40px 0 40px 0; }
  /* line 652, ../../sass/screen.scss */
  .sidebar2 .page-numbers {
    background: none;
    margin: 20px 0 0 0; }
    /* line 655, ../../sass/screen.scss */
    .sidebar2 .page-numbers ul {
      width: 165px;
      /* Manipular */ }
  /* line 660, ../../sass/screen.scss */
  .sidebar2 .link1 {
    background-color: #0ac3d5;
    margin-top: -18px;
    z-index: 10; }
  /* line 666, ../../sass/screen.scss */
  .sidebar2 .link2 {
    background-color: #0faebd;
    z-index: 20; }
  /* line 671, ../../sass/screen.scss */
  .sidebar2 .link3 {
    background-color: #0b9fad;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 30; }
  /* line 679, ../../sass/screen.scss */
  .sidebar2 .link2, .sidebar2 .link3 {
    margin-top: -20px; }
  /* line 683, ../../sass/screen.scss */
  .sidebar2 .contLink {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    min-height: 110px;
    position: relative;
    background-image: url(../img/layout/icon-plus.png);
    background-position: 20px 30px;
    background-repeat: no-repeat; }
    /* line 697, ../../sass/screen.scss */
    .sidebar2 .contLink .cont {
      position: absolute; }
      /* line 703, ../../sass/screen.scss */
      .sidebar2 .contLink .cont a h3 {
        margin-top: 10px;
        padding: 0 0 5px 0;
        font-size: 1.125em;
        font-weight: bold; }
      /* line 710, ../../sass/screen.scss */
      .sidebar2 .contLink .cont a p {
        color: #fff;
        margin-top: 0; }
      /* line 716, ../../sass/screen.scss */
      .sidebar2 .contLink .cont a {
        display: block;
        color: #fff;
        margin: 0 10px 0 75px;
        font-size: 0.938em;
        line-height: 18px; }

/*
+----------------------------------------------------------------+
:: FOOTER
+----------------------------------------------------------------+
*/
/* line 738, ../../sass/screen.scss */
.btnTop {
  display: block;
  width: 60px;
  height: 48px;
  position: relative;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 30px 0 0 0;
  text-decoration: none; }
  /* line 750, ../../sass/screen.scss */
  .btnTop:hover {
    color: #fff;
    text-decoration: none; }
  /* line 754, ../../sass/screen.scss */
  .btnTop:focus {
    color: #fff; }

/* line 759, ../../sass/screen.scss */
.footer {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #d1d1cd;
  min-height: 57px; }
  /* line 769, ../../sass/screen.scss */
  .footer .copyRight {
    margin-top: 23px;
    color: #9e9e9b;
    font-size: 0.875em; }
  /* line 771, ../../sass/screen.scss */
  .footer .socialHeader {
    color: #06182b;
    margin: 10px 0 20px 0;
    float: right; }
  /* line 773, ../../sass/screen.scss */
  .footer .line {
    width: 100%;
    border-bottom: 1px solid #aeaea6;
    margin: 30px 0; }

/*
+----------------------------------------------------------------+
:: MEDIA QUERY
+----------------------------------------------------------------+
*/
@media (max-width: 768px) {
  /* line 788, ../../sass/screen.scss */
  header .headerRight {
    min-height: 1px; }

  /* line 793, ../../sass/screen.scss */
  .top {
    height: 47px; }
    /* line 795, ../../sass/screen.scss */
    .top .menuH {
      float: left;
      line-height: 47px; }
      /* line 799, ../../sass/screen.scss */
      .top .menuH li {
        margin: 0 10px 0 0;
        padding: 0; }
      /* line 803, ../../sass/screen.scss */
      .top .menuH li::before {
        margin-right: 10px; }

  /* line 810, ../../sass/screen.scss */
  .logoHeader img {
    max-height: 153px !important; }
  /* line 813, ../../sass/screen.scss */
  .logoHeader .img-responsive {
    display: inline; }

  /* line 819, ../../sass/screen.scss */
  .blog .img-top-radius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; } }
@media (min-width: 1024px) and (max-width: 1280px) {
  /* line 829, ../../sass/screen.scss */
  .sidebar2 {
    		/*.contLink{
    			
    			.cont{
    				
    				//border: 1px solid #000;
    					h3{
    					margin-top: 15px;
    					padding: 0;
    					//float: left;
    						a{
    							font-size: $font16px;
    							font-weight: bold;
    						}
    
    					}
    				
    				a{	
    					display: block;
    					color: #fff;
    					//box-sizing: border-box;
    					margin: 0 10px 0 75px;
    					font-size: $font14px;
    					line-height: 18px;
    				}
    
    			}
    
    		}*/ } }
@media (max-width: 991px) {
  /* line 867, ../../sass/screen.scss */
  .searchHeader {
    background: #e0e0df url(../img/layout/icon-search.png) center no-repeat;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    height: 47px;
    width: 47px;
    position: absolute;
    right: 77px;
    margin: -25px 0 0 0; }
    /* line 882, ../../sass/screen.scss */
    .searchHeader:hover {
      cursor: pointer; }

  /* line 887, ../../sass/screen.scss */
  .searchInput {
    height: 47px;
    width: 30px;
    margin: -25px 80px 0 10px;
    position: absolute;
    width: 0;
    right: 15px; }
    /* line 897, ../../sass/screen.scss */
    .searchInput .fieldSearch {
      display: none;
      width: 310px !important; }

  /* line 903, ../../sass/screen.scss */
  .openSearch {
    margin: -25px 80px 0 0;
    width: 360px;
    z-index: 5; }
    /* line 907, ../../sass/screen.scss */
    .openSearch .fieldSearch {
      display: block; } }
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 919, ../../sass/screen.scss */
  .post .author span {
    padding-top: 0; }
    /* line 923, ../../sass/screen.scss */
    .post .author span b {
      margin-top: 5px;
      float: left; }
  /* line 928, ../../sass/screen.scss */
  .post .author .legend {
    padding-top: 25px; }

  /* line 935, ../../sass/screen.scss */
  .menuCateg li {
    font-size: 0.813em; }

  /* line 946, ../../sass/screen.scss */
  .sidebar2 .contLink .cont h3 {
    margin-top: 25px; }
    /* line 948, ../../sass/screen.scss */
    .sidebar2 .contLink .cont h3 a {
      font-size: 0.938em;
      display: block; } }
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 977, ../../sass/screen.scss */
  .sidebar2 .contLink .cont a p {
    display: none; } }
@media (max-width: 765px) {
  /* line 991, ../../sass/screen.scss */
  header {
    min-height: 200px;
    margin-bottom: 50px; }

  /* line 1004, ../../sass/screen.scss */
  .sidebar2 .contLink .cont h3 {
    margin: 27px 0 0 0; }
  /* line 1008, ../../sass/screen.scss */
  .sidebar2 .contLink .cont a {
    display: block; } }
@media (min-width: 641px) and (max-width: 991px) {
  /* line 1021, ../../sass/screen.scss */
  .contMenuCateg {
    margin-top: 100px; } }
@media (max-width: 480px) {
  /* line 1028, ../../sass/screen.scss */
  .legend-img .tags {
    margin: 10px; }
    /* line 1030, ../../sass/screen.scss */
    .legend-img .tags a {
      display: block; }
      /* line 1032, ../../sass/screen.scss */
      .legend-img .tags a:hover {
        text-decoration: none; }

  /* line 1039, ../../sass/screen.scss */
  .line {
    width: 100%;
    border-bottom: 1px solid #aeaea6;
    margin: 15px 0; }

  /* line 1042, ../../sass/screen.scss */
  .sidebar1, .sidebar2 {
    width: 100%; } }
@media (max-width: 479px) {
  /* line 1050, ../../sass/screen.scss */
  .top .col-xs-7, .top .col-xs-5 {
    width: 100% !important; }
  /* line 1054, ../../sass/screen.scss */
  .top .menuH {
    float: right;
    margin: 0 0 0 10px; }
    /* line 1057, ../../sass/screen.scss */
    .top .menuH li {
      margin: 0 0 0 10px; }

  /* line 1063, ../../sass/screen.scss */
  .socialHeaderMobile {
    margin: 10px 0 20px 0 !important;
    float: right !important; }

  /* line 1070, ../../sass/screen.scss */
  .legend-img span a::before {
    content: "";
    border-right: 0; }

  /* line 1077, ../../sass/screen.scss */
  a.logoHeader {
    margin-top: 40px !important;
    float: left; }

  /* line 1087, ../../sass/screen.scss */
  .sidebar2 .contLink .cont {
    /*a{	
    	display: none;
    }*/ }
    /* line 1089, ../../sass/screen.scss */
    .sidebar2 .contLink .cont a {
      display: block; }
      /* line 1091, ../../sass/screen.scss */
      .sidebar2 .contLink .cont a h3 {
        margin: 27px 0 0 0; }
      /* line 1095, ../../sass/screen.scss */
      .sidebar2 .contLink .cont a p {
        display: none; } }
@media (max-width: 360px) {
  /* line 1115, ../../sass/screen.scss */
  .openSearch {
    width: 231px; } }
@media (max-width: 320px) {
  /* line 1121, ../../sass/screen.scss */
  .openSearch {
    width: 191px; } }
